
<div class = "image">
      <figure>
        <img width="550px" src="/views/Image/gautam.png" alt="Gautam Gandotra" />
        <figcaption class="name"><b><mark>Gautam Gandotra</mark></b></figcaption>
      </figure>
      </div>
      <div class="row">
        <!-- <section class="main col-md-9"> -->
          <article>
          <h2 class="about">About</h2>
          <div class="para">
          <p>Hello, my name is Gautam Gandotra, and I am currently studying Computer Programming program at Seneca.</p>
          
          <p >I am currently in third semester. I am an international student in Seneca, and I am learning a lot of things here. </p>
          
          <p>My mother tongue is Punjabi and along with it I speak two more languages Hindi and English.  I have passion for computers, and I love interacting with computers and machines and programming is the best way to do it.</p>
          <p> I always somehow love maths along with computers, so programming was the best way to provide me the most appropriate career to pursue. I am studying hard so that I can get a job as a Software Engineer in top company.</p>
          <p>I am 18 years old, and I am youngest in my family who has gone abroad for study. My whole family is in India, but my elder sister is also planning to come to states for her masters.</p>
          </div>
        </article>
        
        
          <div class="coming">
          <h2>Coming Soon</h2>
          <p class="future"><marquee>Let's See what is it for future.I am just positive about my life.</marquee></p>
          </div>
        
      </div>
    
    