 <div class="row">
            <div class="col-md-12">
            
              <h2>Add Post</h2>
    
              <br />
      
              <form method="post" action="/categories/add">

                <div class="form-group">
                     <label for="Category">Category:</label>
                     <input class="form-control" id="category" name="category" type="text" />
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="Add Category" />
      
      
          </form>
          </div>
          </div>
          